<div class='container-fluid'>

<h1>LOG IN</h1>

<form name='logIn' ng-submit='submitLogIn(returningUser)'>

  <div class='form-group' ng-class='{'has-error' : logIn.username.$invalid && !logIn.username.$pristine,'has-success' : logIn.username.$valid }'>
    <label class='control-label' for='username'>Username:</label>
    <input type='text' name='username' class='form-control' ng-model='returningUser.username' ng-minlength='2' ng-maxlength='30' ng-required='true' placeholder='Username'>
    <small ng-show='logIn.username.$error.minlength' class='help-block'>Username is too short.</small>
    <small ng-show='logIn.username.$error.maxlength' class='help-block'>Username is too long.</small>
  </div>
  <div class='form-group' ng-class='{'has-error' : logIn.password.$invalid && !logIn.password.$pristine,'has-success' : logIn.password.$valid }'>
    <label class='control-label' for='password'>Password:</label>
    <input type='password' name='password' class='form-control' ng-model='returningUser.password' ng-minlength='2' ng-maxlength='100' ng-required='true' placeholder='Password'>
    <small ng-show='logIn.password.$error.minlength' class='help-block'>Password is too short.</small>
    <small ng-show='logIn.password.$error.maxlength' class='help-block'>Password is too long.</small>
  </div>
  <div>
    <input hidden ng-model='comment.posts_id' value='{{post.id}}'>
  </div>
  <button type='submit' class='btn btn-default' ng-disabled='logIn.$invalid'>Submit</button>
</form>
</div>
